<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders" style="background-color: #7CD1C0">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Ingredients</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_ingredients}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered" style="background-color: #7CD1C0">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Recipes</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_recipes}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending" style="background-color: #7CD1C0">
			  	<div class="card-header">
			  		<h5 class="card-title">Missing Nutritions</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">TODO</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>